body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

section {
  margin: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}
